body {
	height: 100%;
	margin: 0;
	text-align: left;
	width: 100%;
	background-color: #f3f0ff;
}

h1 {
	font-size: 4rem;
  	font-family: Calibri, serif;
  	color: #450961;
	text-align: center;
	background-color: red;
	
}

h2 {
	font-size: 2.5rem;
	color: #450961;
	background-color: blue;
	
}



h3 {
	font-size: 1.5rem;
	bacground-color:coral;
	
}


p {
	background-color: green;

}

.contents {
	font-family: Calibri, sans-serif;
	width: 100%
}

.dateStyle {
   font-size: 1.8rem;

}
