body {
	height: 100%;
	margin: 0;
	text-align: left;
	width: 100%;
}

h1 {
	font-size: 78px;
  	font-family: Calibri, serif;
  	color: #450961;
	text-align: center
}

h2 {
	font-size: 36px;
	color: #450961;
}


.contents {
	font-family: 'Trebuchet MS', Calibri, sans-serif;
 	padding: 250px 0;
	margin: 30px;
}

h3 {
	font-size: 30px;
	
}


p {

}

.contents a {
	color: #00FFAA;
	font-size: 24px;
	text-decoration: none;
	margin: 30;
}
