body {
	height: 100%;
	margin: 0;
	text-align: left;
	width: 100%;
}

h1 {
	font-size: 40px;
  font-family: Palatino, 'Palatino Linotype', serif;
  color: #450961;
}

h2 {
	font-size: 36px;
}


.contents {
	font-family: 'Trebuchet MS', Helvetica, sans-serif;
  padding: 250px 0;
	margin: 30px;
}


p {

}

.contents a {
	color: #00FFAA;
	font-size: 24px;
	text-decoration: none;
	margin: 30;
}
