body, html {
    height: 100%;
    display: inline-block;
    font-size: larger;

    
}
.bg {
    color: #3b1b88;
    background-image: url("colorgradi.png");
    background-color: #f9e3ff;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
h1 {

    background-color: rgb(243, 240, 248);
    text-align: center;
}
p {
    background-color: rgb(255, 255, 255);
}
ul {
    max-width: 440px;
    background-color: rgb(255, 255, 255);
    margin: auto;
    opacity: .75;
}

